.displayContainer {
    align-items: center;
    margin: auto;
    width: 79%;
}

.display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.characterContainer {
    border: black solid 1px;
    place-self: center;
}

.character {
    text-align: center;
}

.profileName {
    font-size: xx-large;
}