.displayContainer {
    align-items: center;
    margin: auto;
    width: 79%;
}

.display {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 1%;
}

.characterContainer {
    border: black solid 1px;
    place-self: center;
}

.character {
    text-align: center;
}

.profileContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.profile {
    max-width: 100px;
}